<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mohamed.galal/IdeaProjects/TeamProjectMakeen">
        <classes>
            <class name="AutomateMakeen.TestPages.EliteTests.CreateInternalMailPageTest"/>
            <class name="AutomateMakeen.TestPages.EliteTests.EliteHomeTest"/>
            <class name="AutomateMakeen.TestPages.EliteTests.SentTest"/>
        </classes>
    </test>
</suite>