<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Employee page test Suite">
    <test verbose="2" preserve-order="true" name="Employee Test">
        <classes>
<!--            <class name="AutomateMakeen.TestPages.TC_TreatmentJob">-->
<!--                <methods>-->
<!--                    <include name="TC_addTreatmentJob"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="AutomateMakeen.TestPages.TC_LoginPage">
<!--                <methods>-->
<!--                    <include name="TC_LoginPage"/>-->
<!--&lt;!&ndash;                    <include name="TC_searchByTreatmentManagement"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_searchByTreatmentJob"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_searchByEmpNameAdvanced"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_searchByEmpId"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_searchByMobile"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_ViewEmp"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_editEmp"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="TC_deleteEmp"/>&ndash;&gt;-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>
